/* HEADER*/
.header {
  height: 70px;
  background-color: #ff644c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 50px;
  background-image: none;
}
.main-nav {
  width: 100%;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  justify-content: space-around;
}
.search-nav {
  display: flex;
  align-items: center;
}
.search-nav {
  margin-right: 16px;
}
.main-nav-link {
  display: inline-block;
}
.main-nav-search {
  background-color: rgba(249, 249, 249, 0.18);
  border: none;
  width: 466px;
  height: 36px;
  border-radius: 10px;
  margin-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
}
input::placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.41px;
}
.catagories {
  border: none;
  background: none;
  color: rgba(
    255,
    255,
    255,
    1
  ); /* Change this value to your desired link color */
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.ionicon {
  font-size: 64px;
  width: 16px;
  height: 16px;
  fill: white;
  margin: 5px;
}
.logo {
  margin-left: 20px;
}

/* NAVIGATION SIDEBAR */
main{
  display: grid;
  grid-template-columns:116px  1fr ;
  grid-template-rows:804px  1fr;
}
.nav-sidebar-main{
  /* background-color: #fffcbe; */

}
.nav-sidebar-links{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-right: 3px solid  rgba(0, 0, 0, 0.3);
}
.nav-sidebar-links:last-child{
  margin-top: auto;
}
.nav-siebar-item{
  width: 109px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid #ADADAD
  ;
}
.icon-sidebar{
width: 28;
height: 28;
color:#101828;
fill: #101828;
}
.nav-side-link{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.nav-side-text{
  text-decoration: none;
  color:black;
  list-style: none;
  border-bottom: none;
}
.nav-siebar-last{
display: flex;
flex-direction: column;
align-items: center;
fill:#005A5B
}
